:root {
  --accent-color-orange: #ff6b09;
  --title-text-color: #111518;
  --text-color: #b9b9b9;
  --primary-white-color: #ffffff;
}

// @keyframes changeBgColor {
//   0% {
//     background-color: #FFD500;
//   }

//   50% {
//     background-color: #E49800;
//   }

//   100% {
//     background-color: var(--accent-color-orange);
//   }
// }