/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './example';
@import './base/container';
@import './base/reset';

@import './components/header';
@import './components/about.scss';