<article class="about">
  <h2 class="about__title">Teacher</h2>
  <!-- <img class="about image"
    srcset="../images/teacher-mob-1x.jpg 243w, ../images/teacher-mob-2x.jpg 243w"
    src="../images/teacher-mob-1x.jpg"
    alt="Teacher"
  /> -->
  <h3 class="about__name">Elena Moreva</h3>
  <ul class="about__list list">
    <li class="about__item">6 yeards of experience in preparing students for UPE</li>
    <li class="about__item">Own result of passing VNO - 197 points 2 years in a row</li>
    <li class="about__item">
      Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
      Test)
    </li>
  </ul>
  <p class="about__text">
    Graduated from the Institute of International Relations of the NAU with a degree in
    translator-analyst.
  </p>
  <p class="about__text">
    In spare time takes courses from the best universities in the world on effective teaching and
    essay writing techniques.
  </p>
  <p class="about__text">
    Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University
    of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The
    Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of
    Houston).
  </p>
  <a class="about__link" href="" target="_blank" rel="noopener noreferrer">Cambrige English Entry Level Certificate</a>
</article>


