<section id="id-page-about" class="about">
  <div class="container">
    <h2 class="about__title">Teacher</h2>
    <div class="about__teacher">
      <div>
        <picture>
          <source
            srcset="./images/teacher-desk-w1.webp 1x, ./images/teacher-desk-w2.webp 2x"
            type="image/webp"
            media="(min-width: 1366px)"
          />

          <source
            srcset="./images/teacher-desk-1x.jpg 1x, ./images/teacher-desk-2x.jpg 2x"
            type="image/jpg"
            media="(min-width: 1366px)"
          />

          <source
            srcset="./images/teacher-mob-w1.webp 1x, ./images/teacher-mob-w1.webp 2x"
            type="image/webp"
            media="(max-width: 1365px)"
          />

          <source
            srcset="./images/teacher-mob-1x.jpg 1x, ./images/teacher-mob-2x.jpg 2x"
            type="image/jpg"
            media="(max-width: 1365px)"
          />

          <img class="about__image" src="./images/teacher-mob-1x.jpg" alt="Teacher" />
        </picture>
      </div>
      <div class="about__teacher--text">
        <h3 class="about__name">Elena Moreva</h3>

        <div class="about__list list">
          <p class="about__item">6 yeards of experience in preparing students for UPE</p>
          <p class="about__item">Own result of passing VNO - 197 points 2 years in a row</p>
          <p class="about__item">
            Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
            English Test)
          </p>
        </div>

        <div class="about__down--list">
          <p class="about__down--item">
            Graduated from the Institute of International Relations of the NAU with a degree in
            translator-analyst.
          </p>
          <p class="about__down--item">
            In spare time takes courses from the best universities in the world on effective
            teaching and essay writing techniques.
          </p>
          <p class="about__down--item">
            Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
            University of Queesland), How to Write an Essay (Berkeley), Academic and Business
            Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
            and Learning (University of Houston).
          </p>
        </div>

        <a
          class="about__link"
          href="https://sites.google.com/site/sajtucitelazuravlevojen/professionalnye-dostizenia/sertifikaty-cambridge"
          aria-label="link to serifikaty"
          target="_blank"
          rel="noopener noreferrer"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>
</section>
