<section class="contacts" id="id-page-contacts">
  <div class="container">
    <h2 class="contacts__title">
      Registration for a <span class="accent">free</span> phone
      <span class="accent">consultations</span> on the nuances of English UPE
    </h2>
    <p class="contacts__text">
      Leave a request for participation in a <span class="accent">free lesson</span>. A consultant
      will contact you and answer your questions
    </p>
    <form class="contacts__form">
      <input
        class="contacts__input"
        type="text"
        name="name"
        id="name"
        pattern="[a-z]{1,15}"
        placeholder="Name*"
      />
      <input
        class="contacts__input"
        type="tel"
        name="tel"
        id="tel"
        pattern="^((|\+3np)[\-"
        ]?)?(\(?\d{3}\)?[\-
        ]?)?[\d\-
        ]{7,10}$
        placeholder="Phone*"
      />
      <button type="submit" class="contacts__button">I want a free lesson</button>
    </form>
  </div>
</section>
