<footer class="footer">
  <div class="footer__top container">
    <a class="footer__link footer__link--logo" href="/" target="_blank" rel="noreferrer noopener">
      <svg class="footer__link--logo">
        <use href="./images/icon/sprite.svg#icon-logo-6"></use></svg
    ></a>
    <div class="footer__middle">
      <a
        class="footer__link footer__link--phone"
        href="tel:+380991234567"
        rel="noreferrer noopener"
        target="_blank"
      >
        <svg class="footer__phone">
          <use href="./images/icon/sprite.svg#phone"></use>
        </svg>
        +38 (099) 123 45 67
      </a>

      <a
        class="footer__social"
        href="https://www.instagram.com/"
        rel="noreferrer noopener"
        target="_blank"
      >
        <img src="./images/bg/instagram.png" alt="instagram" />
      </a>
    </div>
  </div>
</footer>
<div class="footer__floor">
  <p class="footer__desc container">© All rights reserved, 2022</p>
</div>
