<section class="advantages" id="id-page-advantages">
    <h2 class="visually-hidden">Our advantages</h2>
    <div class="container">
        <ul class="advantages-list">
            <li class="advantages-item animate__animated animate__backInUp"> Adapted author's UPE program </li>
            <li class="advantages-item animate__animated animate__backInUp">Modern teaching methods</li>
            <li class="advantages-item animate__animated animate__backInUp"> Financial guarantee the result </li>
        </ul>
    </div>
</section>