<header class="header" id="id-page-header">
    <div class="container">
        <div class="header-flex">
            <a href="./index.html" class="header-logo-icon">

                <svg width="80" height="30" class="header-logo" aria-label="Logo HellEN">
                    <use href="./images/icon/sprite.svg#icon-logo-6"></use>
                </svg>

            </a>

            <nav class="site-nav">
                <ul class="header-navigation">
                    <li class="header-navigation__item"><a class="header-navigation__link"
                            href="#id-page-program">studying
                            program</a></li>
                    <li class="header-navigation__item"><a class="header-navigation__link"
                            href="#id-page-about">about</a></li>
                    <li class="header-navigation__item"><a class="header-navigation__link"
                            href="#id-page-how-we-do">training
                            options</a></li>
                    <li class="header-navigation__item"><a class="header-navigation__link"
                            href="#id-page-contacts">contacts</a>
                    </li>
                </ul>
            </nav>
            <!-- data-form-open="" -->
            <button class="button-animation button-consultation" type="button" data-form-open>consultation by
                phone
            </button>

            <button class="header-icon" data-modal-open>
                <svg class="header-burger" width="21" height="14" aria-label="Mobile menu toggle">
                    <use href="./images/icon/sprite.svg#icon-menu2"></use>
                </svg>

            </button>
        </div>
    </div>
</header>