<!-- id="id-page-hero" -->
<section class="hero hero-wave">
    <div class="container hero-flex">
        <div class="hero-menu">
            <h1 class="hero-title">Complex preparation for English UPE</h1>
            <p class="hero-davis"><span class="hero-first_davis">It won’t be easy.</span><span
                    class="hero-second_davis">But you’re guaranteed to get <span class="hero-third_davis">+25
                        points</span></span> <span class="hero-fourth_davis">+25 points</span></p>
            <!-- href="#id-page-contacts" -->
            <a class="button button-animation hero-button" href="#id-page-contacts">I want a free lesson</a>
        </div>
        <div class="hero-picture">
            <picture>
                <source srcset="" media="(max-width: 767px)">
                <source srcset="" media="(max-width: 1365px)">
                <source srcset="" media="(min-width: 1366px)">
                <img class="hero-img" src="./images/hero-img/mobile/group.jpg" alt="Free lesson">
            </picture>

        </div>
    </div>
</section>