<!-- id="id-page-hero" -->
<section class="hero hero-wave" id="id-page-hero">
    <div class="container hero-flex">
        <div class="hero-menu">
            <h1 class="hero-title">Complex preparation for English UPE</h1>
            <p class="hero-davis"><span class="hero-first_davis">It won’t be easy.</span><span
                    class="hero-second_davis">But you’re guaranteed to get <span class="hero-third_davis">+25
                        points</span></span> <span class="hero-fourth_davis">+25 points</span></p>

            <a class="button button-animation hero-button" href="#id-page-contacts">I want a free lesson</a>
        </div>
        <div class="hero-picture">
            <picture>
                <!-- Главное фото Hero -->
                <source
                    srcset="./images/hero-img/mobile/group-web.webp 1x, ./images/hero-img/mobile/group@2x-web.webp 2x"
                    type="image/webp" media="(max-width: 767px)">

                <source srcset="./images/hero-img/mobile/group.png 1x,./images/hero-img/mobile/group@2x.png 2x"
                    media="(max-width: 767px)">


                <source
                    srcset="./images/hero-img/tablet/group-web.webp 1x, ./images/hero-img/tablet/group@2x-web.webp 2x"
                    type="image/webp" media="(max-width: 1365px)">

                <source srcset="./images/hero-img/tablet/group.png 1x,./images/hero-img/tablet/group@2x.png 2x"
                    media="(max-width: 1365px)">


                <source
                    srcset="./images/hero-img/desktop/group-web.webp 1x, ./images/hero-img/tablet/group@2x-web.webp 2x"
                    type="image/webp" media="(max-width: 1366px)">

                <source srcset="./images/hero-img/desktop/group.png 1x,./images/hero-img/desktop/group@2x.png 2x"
                    media="(min-width: 1366px)">


                <img class="hero-img" src="./images/hero-img/mobile/group.png" alt="Free lesson">
            </picture>


        </div>
    </div>
</section>