<section class="problems_section">
    <div class="container">
    <h2 class="problems_title">The main problems of students
        in English UPE, which
        we <span class="problems_title--color">help</span> to solve</h2>
    <div class="problems_list-wrap">
        <ul class="problems_list list">
        <li class="problems_item">
            <p class="problems_number">&#8213 01</p>
            <p class="problems_discription">Grammar</p>
        </li>
        <li class="problems_item">
            <p class="problems_number">&#8213 02</p>
            <p class="problems_discription">Inability to understand
                spoken English</p>
        </li>
        <li class="problems_item">
            <p class="problems_number">&#8213 03</p>
            <p class="problems_discription">Stingy vocabulary for writing an essay</p>
        </li>
        <li class="problems_item">
            <p class="problems_number">&#8213 04</p>
            <p class="problems_discription">Preparing alone</p>
        </li>
        <li class="problems_item">
            <p class="problems_number">&#8213 05</p>
            <p class="problems_discription">Lack of a single knowledge resource</p>
        </li>
        <li class="problems_item">
            <p class="problems_number">&#8213 06</p>
            <p class="problems_discription">Preparing alone</p>
        </li>
    </ul>
    </div>
    </div>
</section>