<section>
    <h2>The main problems of students
    in English UPE, which
    we <span>help</span> to solve</h2>
    <ul>
        <li>
            <p>&#8213 01</p>
            <p>Grammar</p>
        </li>
        <li>
            <p>&#8213 02</p>
            <p>Inability to understand
            spoken English</p>
        </li>
        <li>
            <p>&#8213 03</p>
            <p>Stingy vocabulary for writing an essay</p>
        </li>
        <li>
            <p>&#8213 04</p>
            <p>Preparing alone</p>
        </li>
        <li>
            <p>&#8213 05</p>
            <p>Lack of a single knowledge resource</p>
        </li>
        <li>
            <p>&#8213 06</p>
            <p>Lack of self-organization and laziness</p>
        </li>
    </ul>
</section>