<section class="program-benefits conteiner">
  <h2>Our program</h2>

  <div class="program">
    <ul class="program__box">
      <span class="program__img"></span>
      <h3>1 semester</h3>

      <li class="program__list">
        <h4>— Grammar</h4>
        <p>Nouns & Articles</p>
        <p>Adjectives & Adverb</p>
      </li>

      <li class="program__list">
        <h4>— Vocabulary</h4>
        <p>Family & Relations</p>
        <p>People & Society</p>
      </li>
    </ul>

    <ul class="program__box">
      <span class="program__img"></span>
      <h3>2 semester</h3>

      <li class="program__list">
        <h4>— Grammar</h4>
        <p>Pronouns</p>
        <p>Active Voice</p>
        <p>Passive Voice</p>
      </li>

      <li class="program__list">
        <h4>— Vocabulary</h4>
        <p>Home</p>
        <p>School</p>
        <p>Work</p>
      </li>
    </ul>

    <ul class="program__box">
      <span class="program__img"></span>
      <h3>3 semester</h3>
      <li class="program__list">
        <h4>— Grammar</h4>
        <p>Modal verbs</p>
        <p>Infinitive</p>
        <p>Gerund</p>
        <p>Participle: 1, 2</p>
      </li>

      <li class="program__list">
        <h4>— Vocabulary</h4>
        <p>Travel & Tourism</p>
        <p>Culture & Free Time</p>
        <p>Sport</p>
      </li>

      <li class="program__list">
        <h4>— Writing</h4>
        <p>Informal Letter</p>
      </li>
    </ul>

    <ul class="program__box">
      <span class="program__img"></span>
      <h3>4 semester</h3>

      <li class="program__list">
        <h4>— Grammar</h4>

        <p>Clauses: Conditional and Wishes</p>
        <p>Direct / Reported speech</p>
        <p>Preposition</p>
        <p>Conjunction</p>
        <p>Numeral</p>
      </li>

      <li class="program__list">
        <h4>— Vocabulary</h4>

        <p>Healthy Living</p>
        <p>Nature & Environment</p>
        <p>Money</p>
      </li>

      <li class="program__list">
        <h4>— Writing</h4>

        <p>Formal Letter</p>
      </li>
    </ul>

    <ul class="program__box">
      <span class="program__img"></span>
      <h3>5 semester</h3>

      <li class="program__list">
        <h4>—</h4>

        <p>Revision</p>
        <p>Tests</p>
      </li>
    </ul>
  </div>

  <div class="benefits">
    <h2>Why do people <br />choose us</h2>

    <ul class="benefits__list">
      <li class="benefits__item">
        <h3>— 01</h3>
        <p>Training in small groups</p>
      </li>

      <li class="benefits__item">
        <h3>— 02</h3>
        <p>Rendered notes</p>
      </li>

      <li class="benefits__item">
        <h3>— 03</h3>
        <p>Each lesson has a goal and a specific result</p>
      </li>

      <li class="benefits__item">
        <h3>— 04</h3>
        <p>The real results of the teacher</p>
      </li>

      <li class="benefits__item">
        <h3>— 05</h3>
        <p>The course program meets the requirements of the MES of Ukraine</p>
      </li>

      <li class="benefits__item">
        <h3>— 06</h3>
        <p>Set of groups by level of knowledge</p>
      </li>
    </ul>
  </div>
</section>
