<section id="id-page-program" class="program-benefits">
  <div class="container">
    <h2 class="program-benefits-title">Our program</h2>

    <div class="program">
      <ul class="program__box">
        <span class="program__img"></span>
        <h3><span> 1</span> semester</h3>

        <div class="program__conteiner">
          <li class="program__list">
            <h4 class="program__title">Grammar</h4>
            <p>Nouns & Articles</p>
            <p>Adjectives & Adverb</p>
          </li>

          <li class="program__list">
            <h4 class="program__title">Vocabulary</h4>
            <p>Family & Relations</p>
            <p>People & Society</p>
          </li>
        </div>
      </ul>

      <ul class="program__box">
        <span class="program__img"></span>
        <h3><span> 2 </span> semester</h3>

        <div class="program__conteiner">
          <li class="program__list">
            <h4 class="program__title">Grammar</h4>
            <p>Pronouns</p>
            <p>Active Voice</p>
            <p>Passive Voice</p>
          </li>

          <li class="program__list">
            <h4 class="program__title">Vocabulary</h4>
            <p>Home</p>
            <p>School</p>
            <p>Work</p>
          </li>
        </div>
      </ul>

      <ul class="program__box">
        <span class="program__img"></span>
        <h3><span> 3</span> semester</h3>
        <div class="program__conteiner">
          <li class="program__list">
            <h4 class="program__title">Grammar</h4>
            <p>Modal verbs</p>
            <p>Infinitive</p>
            <p>Gerund</p>
            <p>Participle: 1, 2</p>
          </li>

          <li class="program__list">
            <h4 class="program__title">Vocabulary</h4>
            <p>Travel & Tourism</p>
            <p>Culture & Free Time</p>
            <p>Sport</p>
          </li>

          <li class="program__list">
            <h4 class="program__title">Writing</h4>
            <p>Informal Letter</p>
          </li>
        </div>
      </ul>

      <ul class="program__box">
        <span class="program__img"></span>
        <h3><span> 4</span> semester</h3>

        <div class="program__conteiner">
          <li class="program__list">
            <h4 class="program__title">Grammar</h4>

            <p>Clauses: Conditional and Wishes</p>
            <p>Direct / Reported speech</p>
            <p>Preposition</p>
            <p>Conjunction</p>
            <p>Numeral</p>
          </li>

          <li class="program__list">
            <h4 class="program__title">Vocabulary</h4>

            <p>Healthy Living</p>
            <p>Nature & Environment</p>
            <p>Money</p>
          </li>

          <li class="program__list">
            <h4 class="program__title">Writing</h4>

            <p>Formal Letter</p>
          </li>
        </div>
      </ul>

      <ul class="program__box program__box-img">
        <span class="program__img"></span>
        <h3><span> 5</span> semester</h3>

        <li class="program__list">
          <h4 class="program__title program__title-final">final</h4>

          <p>Revision</p>
          <p>Tests</p>
        </li>
      </ul>
    </div>
  </div>
</section>
