.about {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: var(--primary-white-color);

  &__list {
    position: relative;
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    color: var(--title-text-color);

    letter-spacing: 0.03em;
  }

  &__image {
    margin-bottom: 20px;
    width: 243px;
    height: 306px;
  }

  &__name {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--text-color);
    font-weight: 800;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: var(--title-text-color);
  }

  &__item {
    position: relative;
    margin-bottom: 20px;

    padding-left: 27px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);

    &:last-child {
      margin-bottom: 42px;
    }
  }

  &__line {
    position: absolute;
    bottom: -20px;
    width: 20px;
    height: 2px;
    background-color: var(--accent-color-orange);
  }

  &__down--item {
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 1.67;
    color: var(--text-color);
  }

  &__link {
    font-size: 12px;
    line-height: 1.67;
    color: var(--accent-color-orange);

    border-bottom: 1px solid var(--accent-color-orange);
    transition: font-size 250ms linear;
  }

  &__link:hover {
    font-weight: 900;
    font-size: 20px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  }
}

@media screen and(min-width: 768px) {
  .about {
    &__teacher {
      display: flex;
    }

    &__image {
      margin-right: 42px;
      margin-bottom: 0;
    }

    &__item {
      padding-left: 28px;
      font-size: 12px;
      line-height: 1.25;
      max-width: 369px;
    }

    &__down--item {
      font-size: 10px;
      line-height: 2;
    }

    &__teacher--text {
      width: 400px;
    }

    &__item {
      &:last-child {
        margin-bottom: 62px;
      }
    }

    &__line {
      bottom: -30px;
    }
  }
}

@media screen and(min-width: 1366px) {
  .about {
    padding-top: 65px;
    padding-bottom: 65px;

    &__title {
      margin-bottom: 50px;
      font-size: 46px;
      line-height: 1.3;
    }

    &__name {
      margin-bottom: 30px;
      padding-bottom: 15px;
      font-size: 30px;
      line-height: 1.23;
    }

    &__image {
      width: 530px;
      height: 668px;
      margin-right: 60px;
    }

    &__teacher--text {
      width: 640px;
    }

    &__item {
      margin-bottom: 30px;
      padding-left: 62px;
      max-width: 530px;

      font-size: 16px;
      line-height: 1.25;

      &:last-child {
        margin-bottom: 88px;
      }
    }

    &__line {
      bottom: -43px;
    }

    &__down--list {
      width: 600px;
    }

    &__down--item:not(:last-child) {
      margin-bottom: 28px;
    }

    &__down--item:last-child {
      margin-bottom: 22px;
    }

    &__link {
      font-size: 18px;
      line-height: 1.56;
    }

    &__down--item {
      font-size: 18px;
      line-height: 1.56;
    }
  }
}

.about__list::after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color-orange);

  @media screen and(min-width:768px) {
    bottom: -31px;
  }

  @media screen and(min-width:1366px) {
    bottom: -44px;
  }
}

.about__item::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 14px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/icon/about.svg);

  @media screen and(min-width: 1366px) {
    width: 25px;
    height: 20px;
  }
}
