.header {
  position: relative;

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;
  }

  @media screen and (min-width: 1366px) {
    padding-bottom: 55px;
  }
}

.header-flex {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #b9b9b9;

  // &header-link+&header-link {
  //     margin-left: 50px;
  // }

  @media screen and (min-width: 1366px) {
    display: flex;
    padding: 32px 0;
  }
}

.header-logo {
  width: 80px;
  height: 30px;

  @media screen and (min-width: 768px) {
    width: 128px;
    height: 45px;
  }
}

.header-logo-icon {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1366px) {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-right: 144px;
  }
}

.header-navigation__item {
  cursor: pointer;
}

.header-navigation__link {
  display: inline;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-icon {
  border: none;
  background: 0;
  margin-left: auto;
  padding: 30px 0 30px 15px;
}

// Кнопки
.button {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #fff;
  background: #ff6b09;
  border: 0;
  cursor: pointer;
}

.button-animation {
  transform: scale(1);
  border: 2px solid #ff6b09;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.25s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.button-consultation {
  display: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ff6b09;
  background: rgba(118, 69, 69, 0);
  border: 2px solid #ff6b09;
  cursor: pointer;
}
