.how-we-do_section {
    padding-bottom: 40px;

    @media screen and (min-width: 1366px) {
        // width: 1314px;
        padding-bottom: 130px;
    
        }
}


.how-we-do_section-title {
    text-align: center;
    margin-bottom: 30px;

@media screen and (min-width: 1366px) {
    text-align: left;
    margin-bottom: 47px;

    }
}

.how-we-do_list {
@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    }

    @media screen and (min-width: 1366px) {
    margin-top: -10px;
    margin-right: -15px;
    margin-bottom: -10px;
    margin-left: -15px;

    }
}


.how-we-do_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 280px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 20px;

    background: #FFFFFF;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 767px) {
            &:not(:last-child) {
                    margin-bottom: 15px;
                }

    }

    @media screen and (min-width: 768px) {
    width: 334px;
    margin: 10px;
    
        }

    @media screen and (min-width: 1366px) {
    width: 418px;
    padding: 35px 28px 55px 28px;
    margin: 10px 15px;

    }
}

.how-we-do_title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;

    text-align: center;
    letter-spacing: 0.08em;

    color: var(--title-text-color);

    @media screen and (min-width: 1366px) {
        font-size: 20px;
        line-height: 1.4;
    
        }

    &::before {
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
        

        

        // width: 55px;
        // height: 55px;
        // background-color: var(--accent-color-orange);
        margin-bottom: 20px;

    }
}

.how-we-do_discription {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.08em;
    
    color: var(--text-color);

    @media screen and (min-width: 1366px) {
            font-size: 18px;
            line-height: 1.56;

        }

    &::before {
        content: '';
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        margin-bottom: 20px;
        width: 20px;
        height: 2px;

        background-color: var(--accent-color-orange);
        }
}

.how-we-do_icon {
    fill: var(--accent-color-orange);
}