.problems_section {
  padding-top: 25px;
  margin-bottom: 70px;
  background-image: linear-gradient(to bottom, #111518 80%, #ffffff 20%);

  @media screen and (min-width: 768px) {
    padding-top: 55px;
    background-image: linear-gradient(to bottom, #111518 70%, #ffffff 30%);
  }

  @media screen and (min-width: 1366px) {
    background-image: linear-gradient(to bottom, #111518 80%, #ffffff 20%),
      url(../images/how-we-do/icon-campfire.svg);
    padding: 100px 50px 130px;
    background-size: contain, 400px 445px, contain;
    background-repeat: ;
    // padding-top: 100px;
    // margin-bottom: 130px;
  }
}

.problems_title {
  width: 280px;
  margin-bottom: 25px;
  text-align: start;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.31;

  letter-spacing: 0.03em;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1366px) {
    width: 805px;
    margin-bottom: 68px;
    font-size: 46px;
    line-height: 1.3;
  }
}

.problems_title--color {
  color: var(--accent-color-orange);
}

.problems_list-wrap {
  background-color: white;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 20px 27px;
  background-color: white;

  @media screen and (min-width: 768px) {
    padding: 28px 100px;
  }

  @media screen and (min-width: 1366px) {
    padding: 67px 113px;
    width: 1314px;
  }
}

.problems_list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: -10px;
    margin-bottom: -10px;
  }

  @media screen and (min-width: 1366px) {
    margin-top: -15px;

    margin-bottom: -15px;
  }
}

.problems_item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    // margin: 10px 44px;
    margin: 10px 0px;
  }

  @media screen and (min-width: 1366px) {
    margin: 15px 0px;
  }
}

.problems_number {
  color: var(--accent-color-orange);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.problems_discription {
  margin-top: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;

  letter-spacing: 0.08em;

  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }

  @media screen and (min-width: 1366px) {
    width: 336px;
    font-size: 20px;
    line-height: 1.4;
  }
}
