.problems__section {
  position: relative;
  padding-top: 25px;
  // margin-bottom: 70px;
  background: linear-gradient(to bottom, #111518 80%, #ffffff 20%);

  @media screen and (min-width: 768px) {
    padding-top: 55px;
    background: linear-gradient(to bottom, #111518 70%, #ffffff 30%);
  }

  @media screen and (min-width: 1366px) {
    background: linear-gradient(to bottom, #111518 80%, #ffffff 20%);
    // background-image: url(../images/how-we-do/icon-campfire.svg);
    // padding: 100px 50px 130px;
    // background-size: contain;
    // width: 400px;
    // // height: 445px;
    // background-repeat: no-repeat;
    // background-position: bottom 260px right 0;
    padding-top: 100px;
    // margin-bottom: 130px;
    // padding-bottom: 130px;
    height: 710px;
  }
}

.problems__title {
  width: 280px;
  margin-bottom: 25px;
  text-align: start;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.31;

  letter-spacing: 0.03em;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1366px) {
    width: 805px;
    margin-bottom: 68px;
    font-size: 46px;
    line-height: 1.3;

    &::after {
      content: '';
      position: absolute;
      top: 96px;
      right: 0px;
      width: 407px;

      height: 472px;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../images/how-we-do/icon-campfire.svg);
    }
  }
}

.problems__title--color {
  color: var(--accent-color-orange);
}

.problems__list--wrap {
  background-color: white;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 20px 27px;
  background-color: white;

  @media screen and (min-width: 768px) {
    padding: 28px 100px;
  }

  @media screen and (min-width: 1366px) {
    height: 362px;
    position: absolute;
    padding: 67px 113px;
    width: 1314px;
  }
}

.problems__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: -10px;
    margin-bottom: -10px;
  }

  @media screen and (min-width: 1366px) {
    margin-top: -15px;

    margin-bottom: -15px;
  }
}

.problems__item {
  &::before {
    counter-increment: section;
    content: '0' counter(section) '';
    display: block;
    color: var(--accent-color-orange);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
    margin-left: 20px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 10px 0px;
  }

  @media screen and (min-width: 1366px) {
    margin: 15px 0px;
  }
}

.problems__discription {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: -17px;
    left: 0;
    width: 14px;
    height: 2px;
    background-color: #ff6b09;
    display: block;
  }

  margin-top: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;

  letter-spacing: 0.08em;

  color: var(--title-text-color);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
  }

  @media screen and (min-width: 1366px) {
    width: 336px;
    font-size: 20px;
    line-height: 1.4;
  }
}
