.program-benefits {
  background-image: linear-gradient(to bottom, #111518 87%, #ffffff 13%);
  padding: 50px 20px 35px;
  max-width: 320px;
  margin: 0 auto;

  & h2 {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;

    color: #ffffff;
  }
}
.program__box h3 {
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.5;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #ffffff;
}
.program__img {
  width: 12px;
  height: 12px;
  position: absolute;
  border-color: transparent;
  border-radius: 50%;
  background-color: #ff6b09;
  top: -2px;
  left: -6px;
}
.program {
  // position: relative;
  padding-left: 64px;
  margin-bottom: 70px;

  &__box {
    position: relative;
    padding-left: 20px;
  }
  &__box:not(:last-child) {
    border-left: 1px solid white;
    padding-bottom: 40px;
  }
  &__list {
    padding-bottom: 8px;
  }
  &__list h4 {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;

    letter-spacing: 0.08em;

    color: #ff6b09;
  }
  &__list p {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;

    letter-spacing: 0.08em;

    color: #b9b9b9;

    opacity: 0.5;
  }
}
.benefits {
  position: relative;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  &::before {
    content: '';
    position: absolute;
    top: -99px;
    right: -175px;
    width: 260px;
    height: 120px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/program-benefits/program-bg.jpg);
  }
  & h2 {
    margin-bottom: 30px;
    text-align: left;
  }
  &__list {
    padding: 35px 22px;
    max-width: 280px;
    max-height: 638px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__item {
    & h3 {
      margin-bottom: 10px;

      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.64;
      letter-spacing: 0.08em;
      color: #ff6b09;
    }
  }
}
